*{
    margin: 0;
    padding: 0;
}
 header{
    background:white;
    color: brown;
    text-transform: capitalize;
    list-style: none;
    width: 1345px;
    height: 123px;
    text-align: center;
    padding-top:4vh ;
    /* position:fixed;  */

}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}


  
li a{
  text-decoration: none;
  color: brown;
  font-size: 5vh;
 
}
ul li{
    display: inline;
    padding: 4vh;
}/* }   
header nav{
    height: 5vh;
    
} */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}
#container{
 background-image: url(images/htma\ bg.jpg);
    height: 1021px;
    width: 1345px;
    background-repeat: no-repeat;
    color: aliceblue;
    text-transform: capitalize;
}
#container h1{
    text-align: center;

    justify-content: center; 
    /* padding: 29vh;
    padding-bottom: 6vh;
    margin: 39vh; */
    font-size: 10vh;
    /* padding: 370px ; */
    /* padding-right: 5vh; */
    /* padding-top: 20vh;  */
    padding-top: 19vh;
    text-transform: uppercase;
    padding-left: 29vw;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}
body p{
    
    font-size: 5vh;
    /* padding-top:4vh ; */
    text-align: center;
    padding-left: 29vw;
}

.search input{
    width: 250px;
    height: 5vh;
    border-radius: 3vh;
}
.search{
    margin: 5vh;
   text-align: center;
    padding-top: 10px;
    /* padding-left: 2vh;   */
    margin: 1vh;
}
.cont{
    border: 2px solid brown;
    color: rgb(156, 43, 43);
    height: 334px;
    width: 234px;
    justify-content: center;

}
#container .form form{
    margin: 19vh;
     border: 2px solid brown;
     height: 420px;
    width: 423px; 
    position: absolute; 
    right: 30px;  
    left: 100vh;
  text-transform: capitalize;  
  color: brown;
  text-align: center;
  border-radius: 4vh;
   text-align: center;
   background-color:white; 
    
  
}
body .form form .heading{
     font-size: 5vh;
    font-style: bold;
    margin: 1vh;
    right: 150px; 
}
.form form .statement{
    font-size: 4vh;
    font-style: bold;
    margin: 1vh;
}
input{
    width: 370px;
    height: 5vh;
    border-radius: 9px;
    margin: 1vh;
}
.submit input{
    background-color: #6b3f25;
    color: white;

}
.theory{
    font-size: 5vh;
    text-align: center;
    margin: 6vh;
    color: #58311b;
}
.theory .red{
    font-size: 3vh;
    color: #58311b;
}
#youtube{
    /* border: 2px solid brown; */ 
    display: inline-flex;
    /* background-color: #8d5f44; */
    border-radius: 6vh;
    align-content: center;
    justify-content: center;
    padding-left: 14vh;
    flex-wrap: wrap;
}
#youtube iframe{
    margin: 5vh;
    padding: 8vh;
    margin-right:3vh ;
    margin-left: 3vh;
    align-content: center;
    background-color: #f2f2f2;
}
.class{
    font-size: 4vh;
    color:#58311b ;
    text-align: center;
    text-transform: capitalize;
    font-size: bold;
    padding-top: 4vh;

}
.vocal{
    color: #58311b;
    text-align: center;
    text-transform: capitalize;
    font-size: 7vh;
    padding-top:5vh;
    font-size: bold;
}
.store{
    text-transform: uppercase;
    font-size: 9vh;
    text-align: center;
    padding-top: 5vh;
    color: #58311b;
    font-style:inherit;
    padding-bottom: 6vh;
}

.cart{
max-width: 92vw;
margin: auto;
display: wrap;
padding-bottom: 5vh;
}
.cart h2{
    font-style: inherit;
    font-size: 7vh;
    padding-bottom: 3vh;
    margin: 12px 0;
    background-color: #f2f2f2;
    color: #58311b;
    
}
.flex{
    display: flex;
    background-color:#f2f2f2;
    flex-wrap: wrap;
}
.text-centre{
    text-align: center;
    padding-left: 1vh;
    color: #381f11;
    color: #381f11;
}
.cart-items{
width: 16.5vw;
display: flex;
justify-content: center;
flex-direction: column;
margin: 0 40px;
border: 2px solid #f2f2f2; 
padding-top: 6vh;
display: wrap;
}
footer{
    background-color:#876540;
    color: white;
}
.last{
    font-size: 4vh;
    padding: 2vh 0;
    padding-left: 7vh;
    
}
.line{
    padding: 0 3vh 3vh 3vh;
}
.content{
    padding-left:7vh ;
    padding-right: 7vh;
}
.copyright{
    text-align: right;
}